# 站点信息
VITE_SITE_NAME = "云梦仙氏" # 名称
VITE_SITE_AUTHOR = "xian" # 作者
VITE_SITE_KEYWORDS = "云梦仙氏,个人主页" # 关键词
VITE_SITE_DES = "一个默默无闻的主页" # 站点简介
VITE_SITE_URL = "yeann.cn" # 站点地址
VITE_SITE_LOGO = "/images/icon/favicon.ico" # 站点主图标
VITE_SITE_MAIN_LOGO = "/images/icon/logo.png" # 主页图标
VITE_SITE_APPLE_LOGO = "/images/logo/apple-touch-icon.png" # Apple 端图标

# 简介文本
VITE_DESC_HELLO = "Hello World !"
VITE_DESC_TEXT = "一个建立于 21 世纪的小站，存活于互联网的边缘"
VITE_DESC_HELLO_OTHER = "Oops !"
VITE_DESC_TEXT_OTHER = "哎呀，这都被你发现了（ 再点击一次可关闭 ）"

# 社交链接
## 请在 src/assets/socialLinks.json 文件中配置

# 网站链接
## 请在 src/assets/siteLinks.json 文件中配置
## 网站链接的图标名称可前往 https://www.xicons.org 自行挑选并在 src/components/Links/index.vue 中引入

# 天气 Key
## 腾讯位置服务：请前往 https://lbs.qq.com/ 注册 WebService API Key
## 高德开放平台：请前往 https://lbs.amap.com/ 注册 Web服务 Key
## 请注意不是 Web端 (JS API)，免费申请，每日分别有限额
## 若两处均留空则使用免费备用 API
VITE_TX_WEATHER_KEY = ""
VITE_GD_WEATHER_KEY = ""

# 建站日期
## 请按照 YYYY-MM-DD 格式填写
VITE_SITE_START = "2025-10-23"

# ICP 备案号
## 若不需要，请留空
VITE_SITE_ICP = "豫ICP备2025149732号-1"
